header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  nav {
    a {
      margin: 0 15px;
      text-decoration: none;
      color: #343a40;
      font-weight: 500;
       &.active {
          color: #ff9800;
          border-bottom: 2px solid #ff9800;
        }
    }
  }

  .user-avatar {
      mat-icon {
        font-size: 25px;
      }
  }

  .logo-container {
    .logo {
        width: 50px;
        height: auto;
      }
  }
}
